 <div id="app" class="container">
     <h2>{{ title }}</h2>
     <ul>
       <li>{{ items[0] }}</li>
       <li>{{ items[1] }}</li>
     </ul>
     <div class="footer">
       <hr/>
       <em>Change the title of your shopping list here</em>
       <input v-model="title"/>
     </div>
</div>
<!--
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shopping List</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="main.css">
</head>
<body>
<div id="app" class="container">
  <h2>Title</h2>
  <div class="input-group">
    <input placeholder="add shopping list item" type="text" class="form-control">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">Add!</button>
    </span>
  </div>
  <ul>
    <li>
      <div class="checkbox">
        <label> <input type="checkbox"> </label>
      </div>
    </li>
  </ul>
  <div class="footer">
    <hr/>
    <em>Change the title of your shopping list here</em>
    <input />
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
<script src="script.js"></script>
</body>
</html>
-->